@import '../reusables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  background-color: var(--background-color);

  .user {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
  }

  .theme-dropdown {
    display: flex;
    align-items: center;
  }
}
