@import '../reusables.scss';

.score-emoji {
  margin: 1rem 0;
  padding: 1rem;
  border: 3px solid var(--text-color-primary);
  border-radius: 50%;
  background-color: var(--glucose-score-emoji-background-color);
  height: 6rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &__emoji {
    font-size: xx-large;
  }
}
