@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700);
@import '../reusables.scss';

//TODO: rename classes and make it better (cursor pointer etc)

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: var(--toggle-switch-background);
  border: 1px solid var(--toggle-switch-lightened);
  border-radius: 9999px;
  position: relative;

  &:hover {
    cursor: pointer;
  }
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;

  &::before {
    position: absolute;
    font-size: 28px;
    left: -14px;
    top: -14px;
    content: var(--toggle-switch-content-left);
  }
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);

  &::before {
    position: absolute;
    font-size: 28px;
    right: -14px;
    top: -14px;
    content: var(--toggle-switch-content-right);
  }

  .label.right {
    color: var(--toggle-switch-primary);
  }
}

.label {
  color: var(--toggle-switch-muted);
  font-size: 15px;
  line-height: 1;
}

.label.left {
  color: var(--toggle-switch-primary);
}
