.app {
  padding-bottom: 4rem;
  background-color: var(--background-color);

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;

    .user {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

main {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 4rem;
}

.chart-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
