.app {
  padding-bottom: 4rem;
}

main {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 4rem;
}

.chart-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
