// Variables

$testt: green;
:root {
  --button-background-secondary: #f1f1f1;
  --button-background-primary: #93f9b9;
  --button-background-darken: brightness(85%);
  --button-border-hover: var(--color-secondary);
  --text-color-primary: hsl(208, 37%, 20%);
  --text-color-primary-20: hsla(208, 37%, 20%, 0.2);
  --text-color-primary-40: hsla(208, 37%, 20%, 0.4);
  --color-primary: #93f9b9;
  --color-secondary: #646cff;
  --color-border-secondary: rgb(186, 186, 186);

  --background-color: white;
  --toggle-switch-bachground: white;
  --toggle-switch-primary: var(--text-color-primary);
  --toggle-switch-lightened: var(--text-color-primary-40);
  --toggle-switch-content-left: '🍩';
  --toggle-switch-content-right: '🍰';
  --toggle-switch-muted: var(--text-color-primary-40);

  --glucose-score-emoji-background-color: white;

  // chart
  --chart-color-label: black;
  --chart-color-value: green;
  --chart-color-details: grey;

  // rename to chart area color
  --chart-area-color: #82ca9d;

  --bar-chart-color-first: #61bf93;
  --bar-chart-color-second: dodgerblue;
  --bar-chart-color-third: blue;
  --bar-chart-label-color: white;
}

html[theme='classic'] {
}

html[theme='dark'] {
  --text-color-primary: rgb(0, 87, 163);
  --text-color-primary-20: hsla(111, 22%, 54%, 0.2);
  --color-primary: #f993e8;
}
html[theme='unicorn'] {
  --text-color-primary: hsl(108, 72%, 27%);
  --text-color-primary-20: hsla(111, 22%, 54%, 0.2);
  --color-primary: #fd9b2a;
}

$breakpoints: (
  'medium': 768px,
  'large': 1440px,
);

// Mixins

@mixin breakpoint($size) {
  $breakpoint: map-get($breakpoints, $size);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint: #{$size}";
  }
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #c8c8c8 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #c8c8c8);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
